---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Install from '../components/Install.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
    <Nav />
    <main>
        <Hero />
        <Features />
        <HowItWorks />
        <Install />
    </main>
    <Footer />
</Layout>
